<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.dsl.org/bimchecker/Bimmodel"
			class = "org.dsl.bimchecker.bimmodel.BimmodelPackage"
			genModel = "model/generated/Bimmodel.genmodel" />
	</extension>
</plugin>
