/.BimmodelRuntimeModule.java._trace
/.BimmodelRuntimeModule.xtendbin
/.BimmodelStandaloneSetup.java._trace
/.BimmodelStandaloneSetup.xtendbin
/BimmodelRuntimeModule.java
/BimmodelStandaloneSetup.java
